<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Manager</title>
    <script src="/assets/jquery-3.4.1.js"></script>
    <script src="/assets/jquery.validate.min.js"></script>
    <script src="/assets/additional-methods.min.js"></script>
    <script src="/assets/jquery-1.12.4.js"></script>
    <script src="/assets/jquery-ui.1.12.1.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
<!--<div class="split left">
    <div class="centered"> -->
        <div class="container">
            {{ template "content" . }}
        </div>

</body>
</html>